**/build/**
**/builddir/**
**/out/**

**/.cache/**

**/.vs/**
**/.idea/**
**/.clangd/**

compile_commands.json

subprojects/*
!subprojects/packagefiles
!subprojects/*.wrap

tags

**/.nvimrc

.doxygen
