**/.vs/**
**/.vscode/**
**/build**
**/out/**

**/.idea/**

**/cmake-build-*/**

**/Session.vim

subprojects/*
!*.wrap
!subprojects/packagefiles

**/tags

**/*.swp
**/*.ignore
**/*.png
!docs/**

**/*.clangd
