[submodule "Application/Physics/bullet3"]
	path = Application/Physics/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "Application/Physics/PhysicsDebugWindow"]
	path = Application/Physics/PhysicsDebugWindow
	url = git@github.com:mo7sener/PhysicsDebugWindow.git
